<div class="quienes-somos">
  <h2>¿Quiénes Somos?</h2>
  <p>En jabones artesanales el castillo, somos apasionados por la naturaleza y la belleza de los productos artesanales. Fundada en 2021, nuestra empresa se dedica a la creación de jabones artesanales de alta calidad, elaborados con ingredientes naturales y sostenibles. Creemos que la piel merece ser cuidada con productos que no solo sean efectivos, sino también respetuosos con el medio ambiente.
</p>
  <p>Cada uno de nuestros jabones es una obra maestra hecha a mano, combinando técnicas tradicionales con diseños modernos. Nos esforzamos por ofrecer una amplia variedad de fragancias y texturas que no solo limpian, sino que también nutren e hidratan la piel. Utilizamos aceites esenciales, hierbas y extractos naturales que no solo aportan beneficios para la piel, sino que también generan una experiencia sensorial única.
</p>
  <p>Nuestro compromiso va más allá de la producción de jabones. Estamos dedicados a la sostenibilidad y al apoyo de prácticas responsables en todas nuestras operaciones. Desde el envasado ecoamigable hasta la obtención de ingredientes de fuentes responsables, cada paso que damos está diseñado para minimizar nuestro impacto ambiental.
</p>
  <p>En jabones artesanales el castillo, no solo creamos jabones, creamos experiencias. Queremos que cada cliente descubra el placer de cuidarse con productos que son buenos para ellos y para el planeta. Agradecemos tu apoyo en esta hermosa travesía hacia un estilo de vida más natural y sostenible.</p>
</div>

